* {
  font-family: "Reith", Helvetica, sans-serif;
}
@font-face {
  font-family: "Reith";
  src: url("assets/font/BBCReithSans_W_Rg.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Reith";
  src: url("assets/font/BBCReithSans_W_Bd.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "Reith";
  src: url("assets/font/BBCReithSans_W_ExBd.woff2") format("woff2");
  font-weight: bolder;
}

@font-face {
  font-family: "Reith";
  src: url("assets/font/BBCReithSans_W_Lt.woff2") format("woff2");
  font-weight: lighter;
}

.icon {
  height: 2rem;
  margin-left: 0.75rem;
  margin-top: 0.85rem;
}
#top-nav-icon {
  margin-left: 0.75rem;
  margin-top: 0.85rem;
}

.top-nav {
  display: flex;
  justify-content: space-between;
}
.navbar {
  --bs-navbar-padding-x: none;
  --bs-navbar-padding-y: none;
}
.nav-tog {
  border: none;
  border-radius: 0%;
}

.navbar-toggler-icon:hover {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 1); /* Adjust the shadow properties as needed */
  transition: box-shadow 0.3s ease;
}
.icon-small:hover {
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
  transition: box-shadow 0.3s ease;
}

.icon-wrapper {
  display: inline-block;
}

.bg-light {
  background-color: #ffd230 !important;
}

.navbar-custom2 {
  margin-bottom: 0.75rem;
}

#nav-yellow-flex {
  display: flex;
  justify-content: space-between;
}

#spork-header {
  color: black;
  font-weight: bolder;
  margin-right: auto;
  font-size: 2.4rem;
  padding-left: 0.75rem;
  margin-bottom: 0;
}

#yellow-button {
  border: 1px solid black;
  border-radius: 0;
  margin-right: 0.75rem;
  padding-right: 0.75rem;
}

#yellow-button:hover {
  background-color: black;
  color: white;
}

#menu-text {
  font-weight: normal;
}

@media (max-width: 450px) {
  .houdini {
    display: none; /* This will hide the icon */
  }
}
.article-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(4, 2fr);
  gap: 0.8rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

article {
  height: 10rem;
}

.article-header {
  text-decoration: none;
  color: #141414;
  font-size: 1rem;
  font-weight: bold;
  line-height: 90%;
}

.article-header:hover {
  color: #387b12;
  text-decoration: underline;
}

.story1 .article-header {
  font-size: 1.5rem;
}

.article-header + p {
  font-size: 0.75rem;
  color: #545658;
}

.story1 {
  grid-column: 1 / span 2;
  grid-row: 1 / 3;
}

.text-container {
  margin-left: 0.75rem;
}

.minor {
  border-top: 1px solid #141414;
  padding-top: 0.75rem;
}

.article-image-large {
  background-image: url("assets/images/sporks-on-holiday.jpg");
  height: 150%;
  width: 100%;
  background-position: 20% 52%;
  background-size: cover;
  margin-bottom: 0.75rem;
}
.article-image-small {
  height: 60%;
  width: 100%;
  background-position: 20% 52%;
  background-size: cover;
  max-width: 240px;
}

.story7 {
  margin-bottom: 0.75rem;
}

.article-image-mid {
  height: 75%;
  width: 100%;
}
#story2img {
  background-image: url("assets/images/spork-in-grass.png");
  background-position: 20% 52%;
  background-size: cover;
}
#story3img {
  background-image: url("assets/images/Spork-book-cover.jpg");
  background-size: 101%;
  background-position: 50% 65%;
}
#story4img {
  background-image: url("assets/images/spork-family.jpg");
}
#story5img {
  background-image: url("assets/images/spork-with-ribbon.png");
}
#story6img {
  background-image: url("assets/images/spork-ai1.png");
}
#story7img {
  background-image: url("assets/images/future-of-sporks.png");
}

#in-house-links {
  background-color: #141414;
  display: block;
}
#in-house-links ul {
  column-rule: 1px solid #8a8c8e;
  columns: 7;
  column-gap: 2rem;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin: 0;
  padding: 0 0;
}

/* #in-house-links ul li {
  break-inside: avoid;
} */

@media (max-width: 900px) {
  #in-house-links ul {
    columns: 4;
  }
}

@media (max-width: 500px) {
  #in-house-links ul {
    columns: 3;
  }
}
@media (max-width: 500px) {
  #in-house-links ul {
    columns: 2;
  }
}

#footer-wrapper {
  background-color: #141414;
  padding-top: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

footer {
  background-color: #141414;
  padding-bottom: 0.75rem;
  border-top: 1px solid #8a8c8e;
  margin-top: 1rem;
  padding-top: 0.75rem;
}

footer a {
  font-size: 0.8125rem;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 0rem 1.5rem 0.75rem 0;
}

footer a:hover {
  text-decoration: underline;
}

#in-house-links li {
  font-size: 0.75rem;
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem 0;
}

#in-house-links li:hover {
  text-decoration: underline;
}

footer p {
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  margin: 0.75rem 1.5rem 0.75rem 0;
}

@media (max-width: 1000px) {
  .minor-img {
    height: 100%;
    width: 75%;
  }
}

@media (max-width: 1000px) {
  .minor {
    grid-column: 1 / span 2;
    display: flex;
  }
}
